.photos {
    width: 90%;   
    margin-bottom: 50px;
}

.photos:hover {
    width: 95%;
    border-radius: 9%;
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.7)
}

.moodList{
    display: flex ;
    justify-content: space-around; 
}

h1 {
    font-size: 20px;
}

