.moodList{ 
    background-color: #D9E2DD;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100vh;
}

.photos {
    width: 90%;
    margin: 1% 5% 30%;   
}

.photos:hover {
    width: 92%;
    border-radius: 9%;
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.7)
}

.cols{
    display: flex ;
    padding: 3rem;
}

h3 {
    font-family: 'Josefin Sans' sans-serif, Roboto sans-serif, 'Playfair Display', serif;
    font-size: 1.2em !important;
    text-align: center;
}
.selectMood {
    padding: 3rem;
}
.mainTitle {
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-size: 1.4rem;
    
}

@media only screen and(max-width : 800px) {

    .cols{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        padding-top: 0.7rem;
    }

    .photos {
        width: 90%;
        margin: 1% 5% 10%;   
    }

}