/* Page recettes */
.pageResults {
    min-height: max-content;
    background-color: #D9E2DD;
    display: flex;
    flex-flow: row nowrap;
}

.recipesresults {
    background-color: #D9E2DD;
    display : flex ; 
    justify-content: space-around;
    align-items: center ;
    flex-flow: row wrap;
    padding : 0.6rem;
    
}

/* Recettes card */
.recipeCard {
    width: max-content;
    background-color: whitesmoke;
    border-radius: 2%;
    padding: 0.2rem;
    margin: 0.2rem;
}

#recipeName {
    font-weight: 800 !important;
    text-align: left;
    padding: 0.2rem;
    width: min-content;
    height: inherit;
    max-width: 1rem;
    height: 4.5rem;
    min-width: 10.5rem;
    overflow-wrap: normal;
    box-sizing: border-box;
}

.recipeTime, .recipeCal {
    color: #3E4F59;
    text-justify: left;
    margin-bottom: unset;
    padding: 0.2rem;
}

.recipePhoto {
    width: 15rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 2%;
    padding: 0rem;
}
.recipeButton {
    font: 'josefin' sans-serif;
    font-size: xx-small;
    align-items: center;
    margin-left: 10rem;
    margin-bottom: 0.2rem;
    width: 3.5rem;
    border: none;
	padding: 6px 3px 6px 3px;
	border-radius: 4%;
	box-shadow: 0.5px 0.5px 2px #aaa;
	background: whitesmoke;
	color:#3E4F59;
} 
