body {
    margin: 0;
    font-family: 'Josefin Sans' sans-serif, Roboto sans-serif, 'Playfair Display', serif;
    }
  
#logoFMM {
      display: flex;
      align-self: center;
      width: 4.8rem;
      margin-right: 1.7rem;
      margin-left: 1rem;
      pointer-events: none;
  }
.navbar {
    display: flex;
    align-self: center;
    background-color: #3E4F59;
    font-family: 'Playfair Display';
    padding: 4px !important;
  }

.burgerMenu {
    display: flex ;
    width: 2.5rem ;
  }

.Footer {
    font-family: 'Josefin Sans';
    font-weight: 300;
    font-size: smaller;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #3E4F59;
    width: fit-content;

}





@import '~bootstrap/scss/bootstrap.scss';