.body {
    background-color: #D9E2DD;
}

.container {
    border-radius: 2%;
    padding: 0.4rem;
    margin: 1rem;
    background-color: whitesmoke;

}

.recipe {
    padding: 0.4rem;
}

.recipe-title {
    font-size: 1.2rem;
    text-align: right;
}

.recipe-summary {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;

}
.recipeImg {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 2%;
    padding: 0rem;
}

.recipe-typology {
    font-family: 'playfair-display';
    color: #3E4F59;
    padding: inherit;
    width: 10rem;
    font-size: 1rem;
}

.recipeList {
    font-family: 'playfair-display';
    color: #3E4F59;
    font-size: 0.7rem;
    padding: 0.8rem;
    text-align: start;
    margin: 0rem;
}

/* Similar recipes  */

.similSection {
    display : flex ; 
    justify-content: space-around;
    align-items: center ;
    flex-flow: row wrap;
    padding : 0.4rem;
}
.similarrecipes {
    display: flex;
    align-content: center;
    flex-flow: row wrap;
}

.similRecipe {
    background-color: whitesmoke;
    border-radius: 2%;
    padding: 0.2rem;
    margin: 0.8rem;
    width: 15rem;
    height: 20rem;
    border-radius: 2px;
}
.similImg {
    margin-left: 1.6rem;
    object-fit: cover;
    width: 11.4rem;
    height: 11rem;
    padding: 0.1rem;
    border-radius: 1px;
}

.similName {
    padding: 0.2rem;
    font-size: 1rem;
    width: min-content;
    max-width: 8rem;
    height: 5rem;
    min-width: 5rem;
    overflow-wrap: normal;
    box-sizing: border-box;
    color: #3E4F59;
    align-self: center;
    text-align: right;
    margin-left: 7.9rem;
}

.similTime {
    text-align: center;
    font-family: 'playfair-display';
}

/* .loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 9999;
  } */
