.prefPage {
    background-color: #D9E2DD;
    display: flex;
    justify-content: space-around;
    flex-direction: row wrap;
}

.Preferences {
    padding: 1rem;
}


.btn {
    width: 10rem;
    height: 3rem;
    padding: 1rem;
    margin: 1rem;
    box-sizing: content-box;
    background-color:  #3e4f59 !important;
    color: #febe40 !important;
}


@import '~bootstrap/scss/bootstrap.scss';