.Preferences {
    display: flex;
    background-color: #D9E2DD;
}

.btn {
    width: 20rem;
    height: 3rem;
    box-sizing: content-box;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 140%;
    background-color:  #3e4f59 !important;
    color: #febe40 !important;
}


@import '~bootstrap/scss/bootstrap.scss';